.status::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: gray;
  /* color por defecto */
  margin-right: 6px;
  position: relative;
  top: -1px;
}